body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.mainTitle{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
}
.searchBar {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 30%;
    margin-left: auto;
    margin-right: auto;


}